pip-upgrade
biopython>=1.58 
numpy>=1.6
scipy>=0.9
six 
scikit-learn>=0.15.0
pysam >=0.17
joblib

# git+http://github.com/veg/BioExt
# git+http://github.com/veg/hppy
# git+http://github.com/nlhepler/sklmrmr
